/*Mobile first: Empezamos con el código para el móvil. Usremos "media queries" para la TABLET y el DESKTOP. Todo el CSS estará en este documento. Solo haré una query por cada dispositivo, en total 2 */


/* ESTILOS GLOBALES */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*Variables*/
:root {
    --negro: rgb(0,0,0);
    --blanco: rgb(255,255,255);
    --verde: rgb(64, 195, 130);
    --beige: rgb(242, 242, 230);
    --beige-modificado: rgba(242, 242, 230, 0.7);   
}

/* ************************************* */
/*          ESTILOS GENERALES            */
/* ************************************* */
/*Estilos generales a toda la clase .boton*/
.boton {
    color: var(--negro);
    border: 1px solid var(--negro);
    display: block;
    width: max-content !important; /* Se ajusta a su contenido aún siendo un bloque */
    padding: .3rem 1rem;    
}
.boton:hover{
    border: 1px solid var(--verde);
}
/*Estilos concretos para los botones de tipo a*/
a.boton {
    text-decoration: none;
}
/*Estilos concretos para los botones de tipo input*/
input.boton {
    background-color: transparent;
    cursor: pointer;
}
body {
    font-family: "Alegreya Sans", serif;    
}
main {
    background-color: var(--beige);
    
}
/* Casi todos los main tienen el mismo padding, excepto el main del index que lo tiene su main-container */
.main, .main-index .main-container {
    padding: 1rem;
}
.main-container {
   
    max-width: 1140px;
    margin: auto;
}

section > header {
    /* Parece que todos los headers de las secciones tienen un margen inferior de unos 2rem, de momento lo pongo como general */
    margin-bottom: 2rem;
}
section  h2 {
    margin-bottom: 2rem;
    /* Los títulos h2 de las secciones parece que tienen un tamaño de 2rem */
}

/* Todo el texto tiene un line-height */
p {
    line-height: 1.5rem;
}
/* Enlaces dentro del texto */
p  a {
    color: var(--negro);
    text-decoration: none;
    border-bottom: 1px dotted var(--negro);
}
p  a:hover {
    border-bottom: 1px solid;
}
/* Creditos de las imágenes */

div.credito > p{
    color: var(--negro);
    background-color: var(--beige-modificado);
    padding: .5rem;
    font-size: .8rem;
    position: absolute; 
    bottom: 1rem;
    right: 1rem;
}



/* ********************************* */
/*           MAIN HEADER             */
/* ********************************* */
.main-header {
    text-align: center;
    padding: 2rem .5rem;
}
img.logo {
    margin-bottom: 1rem;
}
/* ********************************* */
/*                 MENÚ              */
/* ********************************* */
nav.menu li{
    margin-bottom: 10px;
    list-style: none;
}
nav.menu a{
    color: var(--negro);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
nav.menu a:hover {
    color: var(--verde);
}

/* ********************************* */
/*               FOOTER              */
/* ********************************* */
footer.main-footer {
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    padding: 2rem;
}

footer.main-footer img.logo-n{
    width: 150px;
    margin-bottom: 1rem;
    
}
p.nombre {
    margin-bottom: 1rem;
}
footer.main-footer a {
    
    color: inherit; /* Lo hereda de su ancestro que tenga color. En este caso el footer con color blanco.*/
    text-decoration: none;
}
footer.main-footer a:hover {
    color: var(--verde);
}
div.social {
    margin-bottom: 1rem;
}

div.social > a:not(a:last-of-type) {
    /*Se pone margen derecho a todos los enlaces menos al último enlace social*/
    margin-right: .5rem;
}
div.social > a:hover {
    opacity: .7;
    color: var(--blanco);   
}
div.legal li {
    margin-bottom: .5rem;
    list-style: none;
}

/* ************************************* */
/* ************************************* */
/*               INDEX.HTML              */
/* ************************************* */
/* ************************************* */
.main-container > section {
    padding: 2rem 0;
}
/* ********************************* */
/*          INDEX BANNER             */
/* ********************************* */
section#banner {    
    background-image: url(../img/hero-image-home.jpg);
    background-position: center;
    background-size: cover;
    color: var(--blanco);
    text-align: center;
    padding: 160px 1rem;
    position: relative; /* Para que el absolute de los créditos tome referencia de este contenedor */
}

div.banner-content > h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}
div.banner-content > p {
    font-size: 2rem;
    line-height: 2.1rem;
    
}



/* ********************************* */
/*          INDEX QUÉS-ES            */
/* ********************************* */

.que-es-content p:not(p:last-of-type){
    margin-bottom: 1rem;
}

/*Formulario*/
form {
    padding: 1rem 0;
}
input {
    margin: .5rem 0;
}

.form-group > input{
    /* En el móvil parece que ocupan el 100%*/
    display: block;
    width: 100%;
    border: 0;
    padding: .5rem;
    border-radius: 0;
    outline: 0;
    
}

.form-group > input:focus {
    border: 1px solid black;
}

/* ********************************* */
/*         INDEX HISTORIAS           */
/* ********************************* */
.historias-article-container > *{
    background-color: var(--blanco);
    margin-bottom: 2rem;
    padding: 2rem 1rem;   

}
/*Ataco a todos los elementos dentro de los artículos menos al último para ponerles margen inferior. */
#historias article > *:not(:last-child) {
    margin-bottom: 1rem;
}

.article-title > a{
    color: black;
    text-decoration: none;
}

/* ************************************* */
/* ************************************* */
/*         TEMA-DEL-MES.HTML             */
/* ************************************* */
/* ************************************* */

/* ********************************* */
/*      TEMA DEL MES  BANNER         */
/* ********************************* */
#tema-banner {
    text-align: center;
}
#tema-banner > h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
span.mes {
    display: block;
    width: fit-content;
    margin: auto;
    background-color: var(--verde);
    color: var(--blanco);
    padding: .2rem 1rem;
}
#tema-banner > h2{
    font-size: 2rem;
}

/* ********************************* */
/*      TEMA DEL MES  ASIDE          */
/* ********************************* */
aside.menu-lateral > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: .3rem;
}
aside.menu-lateral a {
    text-decoration: none;
    color: var(--negro);
    font-weight: 700;
    font-size: .8rem;

}
aside.menu-lateral a:hover {
    color: var(--verde);
} 
/* ********************************* */
/*         ESPECIES LISTADO          */
/* ********************************* */
.especie-card {
    margin-bottom: 3rem;
}
.num {
    font-size: 3rem;
    font-weight: 700;
}
.especie-card h3 {
    font-size: 2rem;
}
.especie-card figure {
    margin: 1rem 0;
}
.especie-card img {
    width: 100%;
    border: 1rem solid var(--blanco);
}
.info {
    margin-top: 1rem;
}



/* *********************************************** */
/*                  QUERY TABLET                   */
/* *********************************************** */

@media (min-width: 768px){
/* ************************************ */
/*             INDEX TABLET             */
/* ************************************ */

    /* ********************************* */
    /*       INDEX BANNER  TABLET        */
    /* ********************************* */
    div.banner-content > h1 {
        font-size: 4rem;
       
    }
    div.banner-content > p {
        font-size: 3rem;
    }
    /* ********************************* */
    /*         QUE-ES TABLET             */
    /* ********************************* */
    .que-es-form input{
        max-width: 500px;
    }
    /* ********************************* */
    /*     INDEX HISTORIAS  TABLET       */
    /* ********************************* */
    .historias-article-container {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;

    }
    /* Atacamos a los hijos de contenedor flex*/
    .historias-article-container > * {
        /*En el contexto de los artículos colocados en horizontal, no tiene sentido el margin-bottom*/
        margin-bottom: initial;

        /* Para que en el salto de tablet, ya se posicionen los artículos uno al lado del otro, he puesto un ancho base de 14 pixel calculando 768 / 3 son 16rem menos los 2 gap de 1.5 rem (16-3) dan 13rem*/
        /* El primer 1 se refiere al factor de crecimiento (flex-grow), el segundo al de decrecimiento (flex-shrink), uso el short-hand flex con 1 1 en este caso para que el artículo se agrande y encoja si cabe*/
        flex: 1 1 13rem;
    }

    /* ************************************ */
    /*        TEMA-DEL-MES TABLET           */
    /* ************************************ */
    span.mes {
        display: initial;
        width: initial;
        margin: initial;
        
    }

    
}

/* *********************************************** */
/*                  QUERY DESKTOP                  */
/* *********************************************** */
@media (min-width: 1024px){
/* ************************************ */
/*          GENERAL DESKTOP             */
/* ************************************ */
    .main-container {
        /* Aumento del padding superior e inferior de contendor main*/
        padding: 2.5rem 1rem;
    }
    section h2 {
        font-size: 2rem;
        /* Aumento tamaño de títulos de las secciones en desktop porque me parece que aumenta un poco, aunque no estoy seguro.*/
    }

    /* ********************************* */
    /*        HEADER DESKTOP              */
    /* ********************************* */
    img.logo {
        margin-bottom: initial;
    }

    
    nav.menu li{
        margin-bottom: initial;
    }
    .main-header {
        display: flex;
        text-align: initial;
        justify-content: space-between;
        align-items: center;
        
        padding: 1.5rem 2rem;
    }
    nav.menu > ul {
        display: flex;
        gap: .5rem;
    }
    nav.menu li:not(li:last-of-type)::after {
        content: "|";
        margin-left: .5rem;
        
    }

    /* ********************************* */
    /*         FOOTER DESKTOP            */
    /* ********************************* */
    footer.main-footer {
        text-align: initial; 
        display: flex;
        justify-content: space-between;       
    }
    .footer-links {
        text-align: right;
    }
    div.legal > ul {
        display: flex;
        gap: .5rem;
    }
    div.legal li:not(li:last-of-type)::after {
        content: "|";
        margin-left: .5rem;
        /* Separo el after lo mismo que el gap del flex para que quede centrado*/
    }


/* ************************************ */
/*             INDEX DESKTOP            */
/* ************************************ */
    /* ********************************* */
    /*         QUE-ES DESKTOP            */
    /* ********************************* */
    .que-es-container {
        display: flex;
        gap: 3rem;
        justify-content: space-between;
        align-items: baseline;
    }

    .que-es-container > .que-es-content {
        
        flex: 1 1 60%;
    }

    .que-es-container > .que-es-form {
        flex: 1 1 40%;
    }

/* ************************************ */
/*        TEMA-DEL-MES DESKTOP          */
/* ************************************ */

    /*No he usado grid porque creo que en este caso es más sencillo maquetar con flex*/
    .tema-del-mes .main-container {
        display: flex;
        /* align-items: baseline; */
        gap: 1rem;
        max-width: initial;
        /* padding: 1rem; */
    }

    /* ********************************* */
    /*   TEMA DEL MES  ASIDE  DESKTOP    */
    /* ********************************* */
    .menu-lateral {
        padding: .5rem 0;
        flex: 0 0 150px;
    }
    aside.menu-lateral > ul{
        /*Anulamos el flex*/
        display: initial;

    }
    aside.menu-lateral a {        
        font-size: 1rem;
    }
   
    /* ********************************* */
    /*   ESPECIES LISTADO DESKTOP        */
    /* ********************************* */
    #especies-listado {
        padding: initial;
    }
    .especie-card {
        margin-bottom: 3rem;
        display: flex;
        gap: 1.5rem;
        
        
    }
    
    .especie-card > header {
        flex: 1 1 28%;
    }
    .especie-card > figure {
        margin: initial;
        flex: 1 1 32%;
    }

    .especie-card > .especie-texto {
        flex: 1 1 40%;
    }


    .num {
        font-size: 2.5rem;
        
    }
    .especie-card h3 {
        font-size: 1.3rem;
    }
   
    .especie-card img {
        width: 100%;
        border: .8rem solid var(--blanco);
    }
    .info {
        margin-top: 1rem;
    }



}





